mixin css-mix(data)
    each x in data.vendorCSS
        //- add link tag into HTML
        link(rel="stylesheet", href="/"+x.path+'.css')
        //- change vendor CSS document name to UPPERCASE
        - var name = x.name.toUpperCase()
        //- add comments into HTML
        <!--#{name}-->
    each x in data.yourCSS
        link(rel="stylesheet", href="/"+x+'.css')
        <!--CUSTOM CSS-->
    |<!--[if lt IE 9]><script src="vendor/html5shiv/html5shiv.js"></script><![endif]-->