mixin c(origin,blockName,comment)
	if(origin == 1)
		|
		|<!-- 
		| _________________________________Start #{blockName}_____________________________________
		| #{comment}
		|-->
		|
	else if(origin == 0)
		|<!-- #########   End #{blockName} #########-->