mixin js-mix(data)
    each file in data.vendorJS
        //- add a script tag 
        script(src="/"+ file.path + '.js' type="text/javascript")
        //- change library's name to UPPERCASE
        - var name = file.name.toUpperCase()
        //- add comments into HTML
        <!--"#{name}"-->
    each file in data.yourJS
        //- add a script tag 
        script(src="/"+ file + '.js' type="text/javascript")        
        //- add comments into HTML
        <!--CUSTOM JS-->
        