* {
  color: #646464; }

header, footer {
  background-color: #a86454;
  padding: 20px;
  text-align: center;
  width: 100%; }
  header p, footer p {
    color: #fff;
    font-size: 15px; }

.home__content {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 90%; }
  .home__content img {
    display: block;
    margin: 0 auto;
    width: 50%; }
  .home__content p span {
    color: red; }
  .home__content .hereDog {
    color: green;
    font-size: 20px; }
