@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato/lato-regular-webfont.eot?") format("eot"), url("../fonts/Lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/Lato/lato-regular-webfont.woff") format("woff"), url("../fonts/Lato/lato-regular-webfont.ttf") format("truetype"), url("../fonts/Lato/lato-regular-webfont.svg#Lato_Regular") format("svg"); }

* {
  font-family: "Lato Regular", serif;
  margin: 0;
  padding: 0; }

.content {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 500px; }

p {
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase; }

img {
  width: 200px; }
