//- extract defaul template
extends sheme

//- include css and js mixins to add css and js :)
include mixins/css-mix
include mixins/js-mix
//- most common options
block append options
    -var title = 'Home'
//- include styles CSS here
block append styles
    +css-mix({
        vendorCSS:[
            {
                'name': 'bootstrap-grid',
                'path': 'vendor/bootstrap/bootstrap-grid'
            }
        ],
        yourCSS:[
            'css/reset',
            'css/main'
        ]
    })
    |
    |<!--[if lt IE 9]><script src="vendor/html5shiv/html5shiv.js"></script><![endif]-->



//- type your HTML here
//- start with 'block content' hit enter end start 



//- include JS scripts
block append scripts
    +js-mix({
        vendorJS: [{
                'name': 'jquery',
                'path': 'vendor/any-vendor-folder/any-vendor-js'}
        ]
        ,
        yourJS:[
            'js/main'
        ]
    })