mixin head(data)
    title= data.title
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    meta(name="msapplication-TileColor", content="data.tileContent")
    meta(name="theme-color", content="#ffffff")
    each css in data.vendorCss
        link(rel="stylesheet", href="vendor/" + css + '.css')
    each css in data.css
        link(rel="stylesheet", href="css/" + css + '.css')