include ../mixins/css-mix

block options
    - var title = ''
doctype html
html
    block head
        head
            title #{title}
            base(href="/")
            //- generate favicons
            link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
            link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
            link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
            link(rel="manifest", href="/site.webmanifest")
            meta(name="msapplication-TileColor", content="data.tileContent")
            meta(name="theme-color", content="#ffffff")
            
            //- include styles
            block styles

            
    block body
        body
            block header
            block content
                .default
                    img(src="https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667" alt="Pug logo")               
                    h1 Hy, there. You've just started a default Pug teamplate by 
                        a(href="https://github.com/zeroWheel/statis_start") ZeroWheel
                        |. 
                        br
                        |Have fun.
            block footer
            block scripts
