extends  templates/common
block options
	- var title = ''
block content
	//- Include Blocks and Create New Page
	include blocks/header
	main.home
		.home__content
			h1 Hi. Nice to meet you here. 
			p Feel free to use this docs everywhere. It is 
				span NOT
				|official documentation. 
			p Use command 'gulp destroy' to clear all project folders.
				br
				span.hereDog And here is a Pug
				img(src="images/pug.svg", alt="Pug Logo")

	include blocks/footer 