doctype html
html
    head
        meta(name="author" content="zeroWheel")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Basis teamplate
        link(rel="stylesheet" type="text/css" href="css/main.css")
    body
        .content
            p Basis teamplate for front-end web development
            img(src="images/pug.jpeg")
