include head/head
include footer/footer

doctype html
html
    head
        +head({
            'title': 'New project',
            'tileColor': '#000'
            //- 'vendorCss': [
            //-     'vendor/library'
            //- ],
            //- 'css': [
            //-         'reset',
            //-         'main'
            //-     ]
        })
    body
        h1 Color here
        //- +footer({
        //-     'libsJs':[
        //-         //- Javascript libs path here 'vendor/...'
        //-     ],
        //-     'js':[
        //-         //- your custom JavaScript code here 'js/...'
        //-     ]
        //- })