doctype html
head
	title Head
	meta(charset='utf-8')
	link(rel="stylesheet" href='css/reset.css')
	link(rel="stylesheet" href='css/main.css')
body
	h1 Hi.
	p#paragraph  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, repellendus.
	script(src="js/main.js")