@keyframes dog
    0%
        transform: rotate(10deg)  
    50%
        transform: rotate(-10deg)
    100%
        transform: rotate(10deg)
.default
    font-size: 2em
    position: absolute
    padding: 50px
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border: 5px solid lightblue
    color: rgb(170, 125, 176)
    padding-top: 200px
    h1
        text-align: center
    a
        color: rgb(83, 193, 187)
    img
        position: absolute
        left: 35%
        top: 0
        transform: translateX(-50%)
        animation-name: dog
        animation-duration: 4s
        width: 200px
        transition: all .3s ease-in-out
        animation-iteration-count: infinite

