block variables

DOCTYPE html
	html(lang="ru-RU")
		head
			title #{title}

			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta( name="viewport" ,content="initial-scale=1.0,width=device-width")
			meta( name="description" content="")
			meta( name="keywords" content="")
			meta( name="apple-mobile-web-app-capable" content="yes")
			meta( name="apple-mobile-web-app-status-bar-style" content="black")

			link( rel="icon" href="" type="image/x-icon")
			link( rel="apple-touch-icon" href="" type="image/png")

			link( rel="stylesheet" href="css/main.css")
			
		body
			main
				include ../blocks/header
				block content
				include ../blocks/footer

			script(src="js/main.js")