if ( config.js.vendor.list && config.js.vendor.list.length > 0 && config.js.vendor.objname)
	+addResources(config.js.vendor.list, config.js.vendor.objname, 'js')

if ( config.js.plain.list && config.js.plain.list.length > 0 && config.js.plain.objname)
	+addResources(config.js.plain.list, config.js.plain.objname, 'js')
