if ( config.css.vendor.list && config.css.vendor.list.length > 0 && config.css.vendor.objname )
	+addResources( config.css.vendor.list, config.css.vendor.objname, 'css' )
	
if ( config.css.plain.list && config.css.plain.list.length > 0 && config.css.plain.objname)
	+addResources(config.css.plain.list, config.css.plain.objname, 'css')

